
body {
 
    background: lightblue;

    }
    
div#images {
     
        display: none;
      }
    
div#board {

         position: relative;
         width: 1024px;
         height: 863px;
          margin: auto;

       }
    
    
canvas#boardCanvas {
    
      position: absolute;
      border: 1px transparent;
      margin: auto;

     }
    
table {
    
      border-spacing: 0px;
      position: absolute;
      left: 3px;
      top: 2px;
 }
    
    
 td {
    
     width: 94px;
     height: 70px;
     
 }
    
    
form {
    
    position: absolute;
    bottom: 70px;
    left: 420px;
    padding: 15px;
              

}